*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
#nav{
    border:2px solid black;
    display:flex;
    justify-content:space-between;
    background-color:black;
    border-radius:30px;
    /* margin-right:14px;
    margin-left:14px; */
    margin-top:14px;

}
#header{
    display:flex;
}
#photo{
    border-radius:50%;
}
.head{
    color:white;
    display:flex;
    align-items:center; 
}
#button{
    border-radius:30px;
    margin-top:8px;
    margin-bottom:8px;
    width:200px;

}