*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
main{
    border: solid black;
    height:500px;
    width:300px;
    margin-left:35%;
    margin-right:35%;
    margin-top:15%;
   
}
.instagram{
    padding-left:40%;
    padding-right:35%;
}
#insta{
    color:rgb(76, 11, 111);
    font-size: 40px;
    margin-left:11%;
    margin-right:35%;
    padding:20px;
}
#facebook{
    background-color:#1877F2;
    color: white;
    border-radius:7px;
    padding:5px;
    width:250px;
    font-size:10px;
    margin-left:5%;
    margin-right:35%;
}
#or{
    margin-left:35%;
    margin-right:35%;
    padding:20px;
}
#box1{
    margin-left:10%;
    margin-right:35%;
    width:258px
}
#box2{
    margin-left:10%;
    margin-right:35%;
    width:258px
}
#forget{
    margin-left:59%;
    text-decoration:none;
    color:#1877F2;
}
#log{
    background-color:#1877F2;
    color: white;
    border-radius:7px;
    padding:5px;
    width:180px;
    font-size:10px;
    margin-left:15%;
    margin-right:35%;
    margin-top:15%;
}
#signup{
    margin-left:5%;
    margin-right:5%;
    padding:20px;
}
#up{
    text-decoration:none;
    color:#1877F2;
}


